.projects {
  text-align: center;
  margin: 0;
}

.projects-list {
  padding: 0;
  display: flex;
  width: 100vw;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
  flex-flow: row wrap;
  overflow: hidden;
}

.projects-list * {
  width: 30vw;
}

h3 {
  color: var(--blue-text-second);
}
