.timeline {
	--tw-bg-opacity: 1;
	background-color: rgb(38 38 38 / var(--tw-bg-opacity));
}

.layer {
	display: flex;
	height: 12rem;
	align-items: center;
	justify-content: center;
}

.timeline-card {
	position: relative;
	height: 450px;
	width: 450px;
	overflow: hidden;
	--tw-bg-opacity: 1;
  	background-color: rgb(229 229 229 / var(--tw-bg-opacity));
}

.motion {
	display: flex;
	gap: 1rem;
}

.horizontal-scrolling {
	position: relative;
	height: 300vh;
	--tw-bg-opacity: 1;
	background-color: rgb(23 23 23 / var(--tw-bg-opacity));
}

.in-place {
	position: sticky;
	top: 0px;
	display: flex;
	height: 100vh;
	align-items: center;
	overflow: hidden;
}


.group:hover .group-hover\:scale-110 {
  --tw-scale-x: 1.1;
  --tw-scale-y: 1.1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.timeline-card-overlay {
	position: absolute;
	inset: 0px;
	z-index: 0;
	transition-property: transform;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
	transition-duration: 300ms;
}

.timeline-card-inner {
	position: absolute;
	inset: 0px;
	display: grid;
	place-content: center;
}

.card-text {
	background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));
	--tw-gradient-from: rgb(255 255 255 / 0.2) var(--tw-gradient-from-position);
	--tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
	--tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
	--tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
	padding: 2rem;
	font-size: 3.75rem;
	line-height: 1;
	font-weight: 900;
	text-transform: uppercase;
	--tw-text-opacity: 1;
  	color: rgb(255 255 255 / var(--tw-text-opacity));
	--tw-backdrop-blur: blur(16px);
  	-webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  	backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}